<div id="<%= dom_id library %>">
  <p>
    <strong>Role:</strong>
    <%= library.role %>
  </p>

  <p>
    <strong>Book count:</strong>
    <%= library.book_count %>
  </p>

  <p>
    <strong>Mname:</strong>
    <%= library.mname %>
  </p>

  <p>
    <strong>Titile:</strong>
    <%= library.titile %>
  </p>

  <p>
    <strong>Issued at:</strong>
    <%= library.issued_at %>
  </p>

</div>
