<div id="<%= dom_id books %>">
  <p>
    <strong>Title:</strong>
    <%= books.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= books.description %>
  </p>

  <p>
    <strong>Book count:</strong>
    <%= books.book_count %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= books.author %>
  </p>

</div>
